body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}

header{
    text-align: center;
    color: crimson;
    
}

#header_left{
    margin-right: 0%;
    color: darkblue;
}
p{
    
    height: 100px;
}
.pic {
    text-align: center;
}


footer{
    text-align: center;
    padding: 10px;
    margin: auto;
   background-color: crimson;
}